.animated-scroll-text-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full-screen height for hero section */
    text-align: center;
    overflow: hidden;
    background: url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbCUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D')
      no-repeat center center fixed; /* Stationary background image */
    background-size: cover;
  
    .higher-container {
        background: rgb(255, 255, 255);
        background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.801) 50%, rgba(255, 255, 255, 0) 100%);
        mix-blend-mode: screen;
        padding-bottom: 200px;
        padding-top: 40px;
    }

    .line-one,
    .line-two {
      font-weight: bolder;
      text-transform: uppercase;
      margin: 0;
      color: rgb(0, 0, 0);
      
      font-family: 'Arial', sans-serif;  
      /* Animation starting properties */
      opacity: 0;
    }
  
    .line-one {
      font-size: 7.4rem;
      transform: translateX(100%); /* Start off-screen to the right */
    }
  
    .line-two {
      font-size: 7.4rem;
      transform: translateX(-100%); /* Start off-screen to the left */
    }
  }
  