<div class="hero-container">
    <div class="overlay">
      <h1 class="hero-title">Welcome to Sun Travels</h1>
      <p class="hero-subtitle">Experience the world like never before</p>
      <div class="btn-container">
      <button [routerLink]="'/contracts'" class="cta-button">Contract Management</button>
      <button [routerLink]="'/search'" class="cta-button">Search Accommodation</button>
      </div>
    </div>
  </div>
  <div class="empty">

  </div>
  <app-animated-scroll-text></app-animated-scroll-text>
  <app-animated-text></app-animated-text>
  