<h2>Search Contracts</h2>

<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div>
    <label>Check-in Date:</label>
    <input type="date" formControlName="checkInDate"/>
  </div>
  <div>
    <label>Number of Nights:</label>
    <input type="number" formControlName="numOfNights" min="1"/>
  </div>

  <h3>Rooms Required</h3>
  <div formArrayName="roomsRequiredList">
    <div *ngFor="let group of roomsRequiredList.controls; let i=index" [formGroupName]="i">
      <p>Room Set {{ i+1 }}</p>
      <label>Number of Rooms:</label>
      <input type="number" formControlName="numOfRooms" min="1"/>
      <label>Adults per Room:</label>
      <input type="number" formControlName="adultsPerRoom" min="1"/>
      <button type="button" (click)="removeRoomRequirement(i)" *ngIf="roomsRequiredList.length > 1">
        Remove
      </button>
    </div>
  </div>

  <button type="button" (click)="addRoomRequirement()">Add More Room Set</button>
  <br><br>

  <button type="submit">Search</button>
</form>

<div *ngIf="loading">Searching...</div>
<div *ngIf="error" class="error">{{ error }}</div>
